@import "mixins";

html {
	font-size: 62.5%;
}

body {
	margin: 1rem 0;
	font-family: $base-font;
	font-weight: 200;
    color: #333;
    line-height: 1.5;
}

a {
	@include transition(all $transition-time);
    color: #333;

    &:hover {
        color: #777;
    }
}

h1, h2, h3 {
	padding: 1rem 0 0.5rem;
}

h1 {
	@include font-size(36);
	font-weight: 500;
}

p {
	@include font-size(14);
	margin: 1rem 0;
}

.presentation {
    float: left;
    width: 70%;
}

.ingress {
    @include font-size(18);
}

.wrapper {
	@include clearfix;
	margin: 0 auto;
	padding: 1rem;
    max-width: 480px;
}

.avatar {
    @include border-radius(50%);
    @include box-sizing(border-box);
    display: block;
    float: left;
    padding: 1rem;
    width: 30%;
}
