$base-font: "Helvetica Neue", Helvetica, arial, sans-serif;
$transition-time: 500ms;

/** Colors **/
$blue: #3489db;
$dark-blue: #2980b9;

$white: #ecf0f1;
$dark-white: #bdc3c7;

$text: #34495e;
$section-background: #ecf0f1;
$link-hover: #bdc3c7;
$button-bg: $dark-blue;
$button-bg-hover: $blue;